doctype html
html
  head
    // if title variable is passed use that,
    // otherwise you can set it here
    title=title?title:'Your Fancy Title Here'
  block meta
    meta(name='description' content='fancy html content')
    meta(name='keywords' content='fancy html keywords')
  block styles
    link(rel='stylesheet', href='/public/css/style.css')

  body
  .header
    h1.title.tactr Fancy Express/Pug/Sass template
    p.tactr by 
      a(href='https://gitlab.com/ryanknutson') ryanknutson

  block content
    // main content goes here

  block footer
    p.tactr hello this is a footer
