extends _layout

block append styles
  // you can put additional styles here
  // notice 'append', this won't overwrite the main file

block content
  p hello this is the homepage
  a(href='/about') about your pc!
